[2017-01-05 21:14] faern opened #1 "Possibility to clear the cache"
It would be nice with a `LruCache::clear()` that would remove all elements from it. Since there is no way to get a list of all keys in the cache there is no way to empty it except dropping it and creating a new cache.

[2017-02-20 15:55] jeromefroe commented on #1
Pushed a new branch with a `clear` function for this purpose.

[2017-02-20 15:55] #1 closed

[2017-06-13 03:43] g2p opened #3 "get_mut support"
Please add a `get_mut` method, for getting mutable values out of the cache.

[2017-06-19 13:35] jeromefroe commented on #3
Hey! Thanks for the interest, I'm a little tied up this week, but I'll look into adding `get_mut` method this weekend.

[2017-10-03 09:40] niklasf opened #4 "Feature request: Change capacity at runtime"
Hi, do you think it would be possible to change the capacity of the cache at runtime?

[2017-10-04 02:42] jeromefroe commented on #4
Hey, thanks for the interest! I'd love to get back to this, but I just haven't had the time. With that being said I'll try to take a look in the coming weeks. Thanks again!

[2018-01-15 15:00] jeromefroe commented on #3
Hey, this is long overdue, but I found had a chance to get back to this crate (and Rust in general) this weekend. I just added a `get_mut` method and released `0.1.5` which contains it. Sorry for the delay and thanks again for the interest!

[2018-01-15 15:00] #3 closed

[2018-01-15 16:31] jeromefroe commented on #4
Hey! Sorry for the delay, I just added a `resize` method to the cache and released version `0.1.6`. Thanks again for the interest!

[2018-01-15 16:31] #4 closed

[2018-01-15 16:52] niklasf commented on #3
Thank you @jeromefroe, much appreciated!

[2018-01-22 11:06] stepankuzmin opened #5 "Question: LruCache Send + Sync support"
I'm trying to implement LRU cache in Iron with persistent. It seems that `LruCache` type doesn't implement `Send` and `Sync` traits. Is there any way to implement this?

[2018-01-23 03:47] jeromefroe commented on #5
Thanks for the interest! I just landed #6 to address this issue and released version `0.1.7`.

[2018-01-23 03:47] #5 closed

[2018-07-31 07:01] cswinter opened #8 "Add support for removing least recently used element"
Basically I want to use `LruCache` with infinite capacity and unit values just to govern cache eviction policy, and use a criterion other than element count to decide when to/how many elements to remove. This requires a constructor that initializes with `cap: usize::MAX` and `HashMap::default()` and a method like this:

[code]

My unsafe Rust is not super strong, so this might be off.

For now I j

[2018-07-31 15:36] jeromefroe commented on #8
Hey! Thanks for the interest in the project! I definitely think this would be worth merging. The code snippet looks good to me, so if you get a chance to make a PR I'd be more than happy to review.

[2018-08-19 21:33] jeromefroe commented on #8
Closed by #9. Thanks @cswinter!

[2018-08-19 21:33] #8 closed

[2018-10-23 20:56] vadixidav opened #13 "Custom Hasher"
For [a library I am working on](http://vadixidav.github.io/space/) I need to be able to create an LRU cache that allows me to use [a modified FNV with better spatial locality for specifically Z-order curves](https://github.com/vadixidav/space/blob/9484e58f8d463cbf5726fd6887577adade1ee045/src/octree/morton.rs#L72) for pointcloud data. This would require exposing the [`Hasher`](https://doc.rust-lang

[2018-10-24 01:06] jeromefroe commented on #13
Hey @vadixidav, that looks super cool! I would also definitely be open to such a pull request. Whenever you have something ready I would be more than happy to take a look.

[2018-10-24 16:14] vadixidav commented on #13
@jeromefroe I just found that [another LRU cache](http://contain-rs.github.io/lru-cache/lru_cache/struct.LruCache.html) seems to expose the BuildHasher, so for the time being I will use that crate. I will leave this issue open in case somebody else is interested in doing this.

[2018-10-25 10:50] jeromefroe commented on #13
@vadixidav sounds good! I like the idea of leaving this issue open as I think it captures a valuable addition to the library. I'll try to take a look myself in the coming weeks.

[2018-10-25 20:47] g2p opened #14 "peek_lru method for custom eviction policies"
I'd like to be able to wrap the LRU and implement a custom eviction policy, that will protect certain elements from removal but still make them part of the LRU ordering.
For that I need something like a peek_lru method, that behaves like a peek for the least-recently used element (consistent with existing peek and pop_lru methods).
Then I can implement updates to the LRU by checking if we are at c

[2018-10-25 21:38] jeromefroe commented on #14
If I understand correctly, the proposed method would be similar to `pop_lru` except it wouldn't remove the element from the cache?

[2018-10-25 21:39] g2p commented on #14
Yes, that is correct

[2018-10-25 21:41] jeromefroe commented on #14
That seems pretty reasonable to me, I should be able to put up a diff in the next couple of weeks.

[2018-10-29 23:56] jeromefroe commented on #13
@vadixidav I just put up #15 which adds a `with_hasher` constructor if you wouldn't mind taking a look whenever you have some cycles to let me know if that's what you had in mind.

[2018-10-30 00:59] jeromefroe commented on #14
@g2p I just put up PR #16 which adds a `peek_lru` method to the cache with what I think is the desired behavior, namely returning the key and value of the least recently used item in the cache if it exists. Mind taking a look and letting me know what you think when you get some cycles?

[2018-11-07 19:14] g2p commented on #14
@jeromefroe The PR is exactly what I need, thank you. Apologies for the delay.

[2018-11-07 19:59] jeromefroe commented on #14
Just released [0.1.10](https://crates.io/crates/lru/0.1.10) which contains the `peek_lru` method.

[2018-12-03 15:44] rohitjoshi opened #19 "Support for getting all the keys"
It would be good to have support to retrieve all the keys. My use-case is to persist all the keys so at startup, read the keys from DB and warm up the cache.

[2018-12-03 20:48] jeromefroe commented on #19
That sounds like a great idea! Would implementing the [`IntoIterator`](https://doc.rust-lang.org/std/iter/trait.IntoIterator.html) suffice for your use case?

[2018-12-06 22:46] jeromefroe commented on #19
Hey, I just landed #20 which adds support for an iterator over the entries in a cache. Let me know if that works for you when you get a chance and if so I'll cut a new release.

[2018-12-11 02:58] rohitjoshi commented on #19
👍 works great. Thank you.

[2018-12-11 02:58] #19 closed

[2018-12-11 03:02] rohitjoshi opened #21 "Optimizing for concurrency"
`lru-rs` is quite fast compared to many other LRU cache implementation.  Is there any way to optimize in multi-threaded access?  Maybe a read-write lock or reducing the locking scope.

Maybe something like CHashmap : https://docs.rs/chashmap/2.2.0/chashmap/

[2018-12-11 05:04] jeromefroe commented on #19
Great, glad to hear it! I also just released a new version ([0.1.11](https://crates.io/crates/lru/0.1.11)) to cargo with the changes.

[2018-12-11 05:09] jeromefroe commented on #21
This is a great question! Admittedly, when I first started working on this project, I intended it to be a learning experience so I didn't focus on performance very much. It would definitely be interesting to go back and revisit different parts of the cache now though. Of course, as the saying goes, "If you can't measure it, you can't improve it". So I'll probably start by writing some benchmarks w

[2018-12-11 12:51] rohitjoshi commented on #21
👍

[2018-12-11 21:41] rohitjoshi commented on #21
RocksDB's Shared cache which shared into multiple LRU cache is faster.
I did implement sharding of 64 LRU cache but still, RocksDB's performance is better.  Might want to use as a reference.
https://github.com/facebook/rocksdb/blob/master/cache/lru_cache.cc and https://github.com/facebook/rocksdb/blob/master/cache/sharded_cache.cc

[2018-12-12 01:17] jeromefroe commented on #21
Great, thanks for the references! Hopefully benchmarking and profiling will reveal some quick wins, anything more extensive might be better left for a new crate which implements the same interface.

[2018-12-14 15:25] rohitjoshi opened #24 "LRU Size growth"
I created a Lru instance with size of 1M and set 5M records.  I was able to dump 4.9M+ keys using iterators.

1. Does this implementation restrict the number of elements based on the initial size?
2. Does iterator retrieve expired records as well?
3. When we iterate over all key/val, what order does it return?  MRU or LRU ?

[2018-12-14 16:36] rohitjoshi opened #25 "Minor optimization: Passing Key as a reference for put"
Can we pass the key as a reference and copy/clone if needed?

Looking at the below code, if a key already exists, we override the value. We don't have to clone the key which will save copying of the key data.

https://github.com/jeromefroe/lru-rs/blob/master/src/lib.rs#L195

[2018-12-14 17:46] rohitjoshi commented on #25
editing issue title

[2018-12-16 22:02] jeromefroe commented on #25
That's an interesting idea! Instead of changing the current implementation of `put` though, what do you think about adding a new method, `put_ref` perhaps, that takes a clonable reference? For example:

[code]

[2018-12-16 22:07] jeromefroe commented on #24
Hmm, it sounds like there may be some bug if the size of the cache is 1M but the iterator returned 4.9M records. Would you happen to be able to share the code to reproduce the bug so I can take a look myself? In regards to your other questions:

Yes, if you specify a size for the cache in the constructor then it should never contain more than that many elements.

No, expired records are dropped an

[2018-12-17 00:14] rohitjoshi commented on #25
I think this is a minor improvement which only helps if key already exist but makes interface complex. So may not required. So closing this.

[2018-12-17 00:14] #25 closed

[2018-12-28 22:20] FauxFaux opened #26 "Can get() take an AsRef/Borrow?"
`LruCache` isn't quite a drop-in replacement for `HashMap` for me, as I'm using `HashMap<String, i64>`. For this type, `.get("some &str")` works. This avoids the copy/allocation of `to_string()`.

For `LruCache`, you instead get this error:

[code]

I had a go at changing the code to be more like HashMap's (and take a `Borrow`), but I got lost. Here's my thoughts: https://play.rust-lang.org/?versi

[2018-12-29 21:04] jeromefroe commented on #26
Hi, this is a great question! I tried playing around to see what I could come up with, but I'm currently stumped. Following your lead on `KeyRef` I took a look at the `get` method more closely and immediately saw a problem. We don't pass the key directly to internal hashmap, but instead construct a `KeyRef` first:

[code]

I tried to solve that problem first, since it seemed to me that if we aren'

[2019-03-12 13:46] jeromefroe commented on #24
As @ssloboda noted in #29, he found and fixed a bug in `pop` that resulted in an item not being removed from the LRU's linked list although it was removed from the LRU's map. This would mean the item is invisible except when one gets an iterator over the LRU. It seems very likely that this is the same bug reported here. I released [v0.1.13](https://crates.io/crates/lru/0.1.13) which contains @sslo

[2019-03-12 13:46] #24 closed

[2019-03-12 20:20] Ralith opened #30 "Entry API"
A common operation for a cache is to search for an element and insert it if it's missing before returning a reference to the element. This shouldn't require hashing the key twice.

[2019-03-13 03:16] jeromefroe commented on #30
Hey @Ralith! I don't think I have a clear grasp of what your use case is. Would you mind providing an example?

From what I do understand, it sounds like you could use an additional method like the [`put` method](https://docs.rs/lru/0.1.13/lru/struct.LruCache.html#method.put) but which only inserts the value if the key doesn't already exist in the cache and that indicates whether the new value was

[2019-03-13 03:24] Ralith commented on #30
The use case, and desired semantics, are exactly that of the std [`HashMap::entry`](https://doc.rust-lang.org/std/collections/struct.HashMap.html#method.entry) API (see also `BTreeMap`, etc). `put_if_missing` isn't a solution because my use of `LruCache` is to avoid repeating expensive computations, which requires waiting until the entry is known to be missing before computing its value.

[2019-03-14 12:17] jeromefroe commented on #30
Gotcha, definitely seems useful! I'll take a crack at it when I get some cycles, but it will probably be a larger change so I don't anticipate I'll be able to get to it in the near future.

[2019-03-25 23:28] bowenwang1996 opened #31 "retain"
It would be nice to add a retain method, similar to what `std::collection::HashMap` and `std::vec::Vec` have.

[2019-03-29 03:22] rohitjoshi opened #32 "Max memory limit to protect from out of memory"
Hello,
  Is there any way to restrict the max memory usage for LRU?  E.g.  I am expecting 100M key/value pair but value length varies and ends up killing the process when it exceeds available memory.

Is there any way to enforce configurable max memory usage even though LRU capacity is not filled?

May be allocator counter: https://doc.rust-lang.org/beta/std/alloc/struct.System.html

[2019-03-31 23:58] jeromefroe commented on #31
I agree, that would be helpful! I think I should have time in the next couple of weeks to take a crack at it. PR's are certainly welcome though if you'd like to take a look at it before then :)

[2019-04-01 00:19] jeromefroe commented on #32
I agree, that would be super helpful! Since the cache is generic over keys and values, my first thought is that the cache could accept a function in it's constructor that accepts a reference to a key and value and returns the size in bytes of the two:

[code]

What do you think?

[2019-04-01 08:19] rohitjoshi commented on #32
That’s good idea. Either it takes the max memory size or number of entries/capacity

[2019-04-18 19:24] rohitjoshi opened #37 "Exporting keys"
It would be good to have the ability to export keys so the cache can be warmup at startup.
I am using `iter` to get all the keys from LRU but requires an extended period of mutex lock which would impact clients.

Is there any way to export keys with minimal locking duration?

[2019-04-21 14:36] jeromefroe commented on #37
Interesting, it sounds like you could use some form of MVCC so that you could get an iterator over the keys at a certain point in time and continue to operate on the cache afterwards?

[2019-07-10 04:41] NN-Binary opened #39 "lazy_static"
Hey!

Anyway you can show me how to use this cache with lazy_static? I'd like to access it from multiple threads. A working example would be amazing! Thank you

[2019-07-10 14:10] jeromefroe commented on #39
Here's an example program:

[code]

The catch with `lazy_static` though is that since the references it creates are not mutable you won't be able to use most of the cache's methods, for example even `get`, since they manipulate the internal state of the cache. If you don't need to add elements to the cache I think it would be better to just use a Hashmap. On the other hand, if you do need to updat

[2019-07-25 15:21] #26 closed

[2019-08-20 21:39] whitfin opened #43 "Provide a blind insertion that notifies of overwrite"
Right now if I do `cache.put("", "")`, I have no idea if the key existed already and was updated. This information is available, and it would be easy to return the previous value to the caller if the key had already existed.

It enables this pattern:

[code]

Whereas you would currently have to do this:

[code]

Which is pretty useful for anyone using this cache as a lookup table for things like d

[2019-08-21 00:02] jeromefroe commented on #43
Thanks for the issue! This would certainly be a great ergonomic improvement and matches the [`insert` method of the standard library's `Hashmap`](https://doc.rust-lang.org/std/collections/struct.HashMap.html#method.insert). I'll aim to tackle this issue within the next two weeks, time permitting.

[2019-08-21 15:35] jeromefroe commented on #43
@whitfin I just made a PR which should address this issue. If you wouldn't mind taking a look when you get a chance just to confirm that the changes are in line with what you had in mind, I can then merge the PR and cut a new release.

[2019-08-21 16:31] whitfin commented on #43
@jeromefroe that change looks good to me!

[2019-08-21 17:16] #43 closed

[2019-08-21 17:26] jeromefroe commented on #43
Just [released version 0.1.17 to crates.io](https://crates.io/crates/lru/) which contains these changes.

[2019-08-21 18:14] whitfin commented on #43
@jeromefroe perfect, thank you :D I'll try it out today

[2019-09-22 07:50] hhwyt opened #48 "Refactor `get` and `get_mut` method"
Hi, I'm very interested in this crate. I refactored the `get` and `get_mut` method after reading the code and submitted a PR ([#47]). Please help me review it if anyone has time.

Thanks!

[2019-09-23 02:55] hhwyt commented on #48
closed by #47

[2019-09-23 02:55] #48 closed

[2019-09-27 18:31] ssloboda opened #50 "Unintentional breaking API change in 0.1.18 from 0.1.17"
After running `cargo update` for a crate that I'm working on, I encountered a build failure due to the changes included in 0.1.18. This issue does not exist in 0.1.17. Patch updates should not be breaking API changes according to semver.

[code]

[2019-09-27 20:21] jeromefroe commented on #50
Ah! Sorry about that. Would it be possible for you to provide the type of the cache (or how it's constructed would probably be even more helpful)? At first glance it seems that the compiler is inferring that `id` is a reference to a UUID (`&uuid::Uuid`) instead of a UUID itself (`uuid::Uuid`) so that `&id` would become a reference to a reference and I'm not sure it's able to dereference the double

[2019-09-27 21:10] ssloboda commented on #50
Yes, the double reference is the problem here (seems like the `&` was a vestige of some refactoring that made the `&` unnecessary but was never removed).

I was more just looking to complain/notify you that the patch bump introduced a change that might affect other consumers of this crate, even if their `Cargo.toml`s are set up to only pull in patch updates automatically (which, correct me if I'm

[2019-09-27 21:14] jeromefroe commented on #50
Ahh, makes sense! Thanks for calling out the issue and sorry for the unintended surprise :) I'll release an 0.2.0 version to err on the side of caution.

[2019-09-27 21:14] ssloboda commented on #50
No problem. Thank you!

[2019-09-27 21:48] #50 closed

[2019-09-28 12:21] koute opened #52 "0.1.18 should be yanked"
You should probably yank the accidentally-breaking 0.1.18 from crates.io. (:

[2019-09-28 12:25] jeromefroe commented on #52
Yea, that's fair, just yanked it. I thought the issue in #50 would be rare but better to be safe than sorry.

[2019-09-28 12:25] #52 closed

[2019-10-02 13:02] gliderkite opened #53 "Add peek_mut method"
Is there any specific reason why `LrUCache` does not provide a `peek_mut` method?

We already have `get`, `get_mut` and `peek`, it would be nice to add the equivalent `peek_mut` method to return the mutable reference corresponding to the key in the cache or `None` if it is not present in the cache, without having to update the LRU list.

[2019-10-03 01:39] jeromefroe commented on #53
Hey! Thanks for pointing this out, there's no specific reason, it's just that's no has requested it yet :) I think it should be fairly straightforward to implement though, so I'll aim to take a look over the weekend.

[2019-10-03 08:49] gliderkite commented on #53
Thanks! Let me know in case support is needed for this :)

[2019-10-06 12:54] #53 closed

[2019-10-06 13:19] jeromefroe commented on #53
@gliderkite I just released [version 0.3.0](https://crates.io/crates/lru) which adds a `peek_mut` method. Let me know if that work.

[2019-11-26 05:53] laizy opened #61 "remove usage of `mem::uninitialized`"
use `mem::MaybeUninit` instead to make miri happy.

![image](https://user-images.githubusercontent.com/4203231/69602939-1db63880-1054-11ea-80d9-031cdd231637.png)

[2019-11-26 18:45] #61 closed

[2020-02-05 05:08] Ralith opened #70 "Unsound construction of uninitialized values"
https://github.com/jeromefroe/lru-rs/blob/master/src/lib.rs#L222-L223 uses `MaybeUninit` in a way that is exactly equivalent to the old `mem::uninitialized` which was deprecated for being practically always unsound. The correct way to use `MaybeUninit` is to never call `assume_init` until you have written a legal value to it. In the linked section of code, values of type `K` and `V` are obtained f

[2020-02-05 15:02] jeromefroe commented on #70
Hey @Ralith! Thanks for calling this out. Based on the documentation, [it is not possible to create a struct by calling `MaybeUninit::uninit::<Struct>()` and then writing to its fields](https://doc.rust-lang.org/std/mem/union.MaybeUninit.html#initializing-a-struct-field-by-field). Consequently, if I understand the documentation correctly, it's not currently possible for us to first write legal val

[2020-02-05 16:24] Ralith commented on #70
`head` and `tail` are raw pointers, not structs, but indeed you cannot initialize only a subset of the struct that contains them. Even if there was a way to, this would still be insta-UB because it constructs a `K` and a `V` from uninitialized memory. If you only needed pointers, you could initialize them to null instead.

This is unfortunately false. I did mean it when I said insta-UB. Referring

[2020-02-05 18:51] jeromefroe commented on #70
Indeed, I should have been more clear and specified that the structs pointed to by `head` and `tail` could not be initialized with `MaybeUninit`.

You're correct. While I think in practice the code would be okay because we don't access the uninitialized fields and implement `Drop` manually for the cache to ensure the compiler doesn't try to drop them, we have no such guarantees.

I actually like t

[2020-02-06 16:57] Ralith opened #72 "Reduce boxing"
The current implementation boxes every key/value pair to obtain a stable address with which to construct an intrusive linked list. While investigating new designs following #70, I realized that this indirection and the associated reduction in locality can, in principle, be avoided.

The payload of a `HashMap` is already heap-allocated, and only moves when the container's capacity grows and it's re

[2020-02-06 17:31] Amanieu commented on #72
Have you considered using a copy of the key instead of a pointer? Generally keys are pretty small, but you would need `K: Clone` which may be a breaking change.

[2020-02-06 17:34] Amanieu commented on #72
Ah nevermind, this would work poorly if the key is something like a `String`.

Regarding the hash table, I don't think hashbrown is a good fit, but you may be interested in https://github.com/Amanieu/intrusive-rs/pull/37.

[2020-02-06 23:05] Ralith commented on #72
It'd be nice to benefit from hashbrown's optimizations. It seems like the only missing piece here is the ability for the caller to control the rehashing operation. In particular, it would be necessary for this lib to remove elements from the old table and insert them into the new one in LRU list order, constructing the correct chain as it goes.

That could be accomplished by something as simple as

[2020-05-11 04:00] Firstyear opened #73 "Possible issue found with Miri"
Hi there,

I was using LruCache in a project that I regularly scan with Miri and I recieved the following report:

[code]

I'm wondering if this is an issue that you are aware of?

Thanks!

[2020-05-11 12:22] jeromefroe commented on #73
Hey! Thanks for reporting this. Can you also provide the command that you're using to run `miri`? When I run it locally myself I don't get any errors:

[code]

[2020-05-11 23:32] Firstyear commented on #73
Hey there,

I think the issue is here https://github.com/jeromefroe/lru-rs/blob/master/src/lib.rs#L222

It looks like you are making a new MaybeUninit, and then immediately calling https://doc.rust-lang.org/std/mem/union.MaybeUninit.html#method.assume_init on it, which can't be valid because you don't have an LruEntry inside the MaybeUninit at that point I think. This is what appears to confuse th

[2020-05-12 00:00] jeromefroe commented on #73
Ahh, so I believe that should be okay because we [implement `Drop` for the `LruCache`](https://github.com/jeromefroe/lru-rs/blob/master/src/lib.rs#L738) where we handle the `head` and `tail` entries specially. We never initialize `head` and `tail` normally, but that's okay because we only ever use the `next` and `prev` fields of them.

[2020-05-12 00:06] Firstyear commented on #73
I guess the challenge is while it's okay and we know it's okay, convincing miri to agree with that situation :)

Maybe it's not my place to say, but perhaps the way to resolve this is have MaybeUninit K, V in the LruEntry itself rather than in the Box so you can initialise the sigil nodes, or to remove the sigil nodes and set head/tail to ptr::null_mut() and change the double linked list algorithm

[2020-05-12 11:28] jeromefroe commented on #73
Yea, is there a way to exclude lines from Miri? That might be the simplest solution. PR's are also more than welcome if you have any other implementation ideas :)

[2020-05-13 03:34] Firstyear commented on #73
I think there are some ways to do that ... let me look into the miri exclusion. But I'm also happy to put in a PR to improve this, so hopefully I have some time this week :)

Thanks for your patience with me on this!

[2020-05-14 04:23] Firstyear commented on #73
This PR relates to this issue https://github.com/jeromefroe/lru-rs/pull/74

Thanks!

[2020-05-14 04:41] Firstyear commented on #73
Also as a note, it's not possible to provide a miri exclusion beyond the granularity of excluding a whole test, so we can't just mask this one area from examination.

[2020-05-22 00:37] Ralith commented on #72
On review, I think this could be accomplished with the existing interface by constructing the LRU list from bucket indices rather than raw pointers. As a bonus, I think this would allow removing nearly all of the `unsafe` from this crate, including the dicey uninitialized stuff.

[2020-05-25 07:06] feuerste opened #78 "Regression in 0.4.4"
Hi, I just wanted to update to `0.4.4`, but realized that it introduced a severe issue, most probably due to #74. With this simple test program you can reproduce it (I tested it on a Mac):

[code]

`src/main.rs`:
[code]

`Cargo.toml`:
[code]

[code]

With `lru = "=0.4.3"` the program will basically run forever, with `lru = "=0.4.4"` you will run into `Error: Os { code: 24, kind: Other, message: "T

[2020-05-25 12:14] jeromefroe commented on #78
Hi, thanks for reporting this! This is a bad bug so I just yanked the `0.4.4` version of the crate while I investigate. It seems the most recent change didn't account for when items are expired from the crate because it is full, but I need to look further to confirm.

[2020-05-25 15:42] #78 closed

[2020-05-25 15:47] jeromefroe commented on #78
Thanks again for reporting this bug. I just ran this same test with the changes from #79 (i.e. `lru = { git = "https://github.com/jeromefroe/lru-rs" }` in `Cargo.toml`) and was able to confirm that the program runs indefinitely. So I'll now release a new updated version that includes the fix.

[2020-05-25 18:28] feuerste commented on #78
You are welcome, thanks for fixing it so quickly!

[2020-06-02 10:19] kubasz opened #82 "Memory leak/drop not called on LRU replacement on `put`"
When inserting structs with different keys with `LruCache::put`, after the capacity is exceeded the least recently used objects are forgotten rather than dropped which causes a memory leak for e.g. boxed structs. Manually calling `pop_lru` if `len() == cap()` before every `put()` works as a workaround.

Here's a minimal example demonstrating the broken behaviour (and it working as intended for sam

[2020-06-02 13:30] jeromefroe commented on #82
Hey, thanks for reporting this, I'll take a look and yank this version to limit how many people run into it.

[2020-06-02 13:53] jeromefroe commented on #82
Just ran the same test with master and got the following output:

[code]

[2020-06-02 13:57] jeromefroe commented on #82
Thanks again for reporting this, @kubasz. I just finished publishing 0.5.1 which contains a fix.

[2020-06-02 13:57] #82 closed

[2020-06-08 03:33] rohitjoshi commented on #32
Any plans to prioritize this work?

[2020-06-08 12:01] jeromefroe commented on #73
Closing this now that #74 has landed.

[2020-06-08 12:01] #73 closed

[2020-06-08 12:04] jeromefroe commented on #32
Hey @rohitjoshi! Sorry, I don't have a clear idea on how we can implement this, so I'm not sure how long it will take and I don't have the time at the moment to really devote the amount of attention it will likely require.

[2020-06-16 17:48] pimeys opened #85 "Using `&str` to fetch a value with a `String` key"
It seems it's not possible to call `.get` with a `&str` if the cache is of type `LruCache<String, T>`.

Right now the only thing I was able to use to get it working is to call `to_string` for the `&str` parameter, then call `.get` with the reference of this string value.

Is there some trick that would allow me to use `.get` with `&str` if the key type is `String`?

Version: 0.5.1

[2020-06-16 21:16] jeromefroe commented on #85
Hey @pimeys! Do you have a reproducible example by chance? I made a simple example and was able to call the `get` method on a `LruCache<String, T>` with a `&str` key, so I think something else may be going on. My example is:

[code]

[2020-06-17 07:36] pimeys commented on #85
What I want to do here is to skip the extra allocation when fetching from cache, and this doesn't work:

[code]

And in our case what we do is we check first is the item in the cache (first allocation for the fetch), then log if we hit the cache, or if not store to the `Lru` (second allocation for storage) and then again fetch from the cache.

I'd be much happier if we could use `&str` to fetch a

[2020-06-17 15:32] jeromefroe commented on #85
Hey, sorry, you're right, this doesn't work by default. You'll have to enable the `nightly` feature to do this. The change to support this was originally added in #40 but I noticed that it didn't keep up to date with some of the changes in the nightly compiler so I addressed those issues in #86 and then released `v0.5.2.`. To get this to work, therefore, your `Cargo.toml` should contain the follow

[2020-06-29 15:37] Stargateur commented on #30
Actually, this is even more needed cause I can't get a value, return a reference to it or if missing create the value and return it cause it's borrow the cache as mutable more than one. It's quite annoying for a cache to not be able to do this basic operation.

[2020-07-02 12:38] gauteh opened #87 "Use generic key-val store"
Hi,

I am using this crate now and I think it performs really well. However, I am using it in a concurrent server, and I currently have to wrap in Arc<RwLock<..>>. It would be great if it was possible to plug in [dashmap](https://docs.rs/dashmap/4.0.0-rc6/dashmap/index.html) to make the LRU thread-safe. The best would be if it would be generic over key-value store, then even remote stores could be

[2020-07-06 12:52] jeromefroe commented on #87
Hi @gauteh! I like this idea, but I think it may be tricky to implement because the cache uses both a hashmap and a linked list internally. So while it may be fairly straightforward to swap out the current hashmap with dashmap, converting the linked list to support concurrent operations will likely be more difficult because it's implemented by hand. And then, even if both the hashmap and linked li

[2020-07-14 03:24] mexus commented on #70
Is it still the case? I can't find any dangerous `.assume_init`s in the code anymore

[2020-07-14 12:49] jeromefroe commented on #70
A lot of the `MaybeUnit` code was changed in #74 and now we only call `assume_init` when returning a value to the caller so I believe this issue can be closed. I'll leave it open for now though so others can comment if they think differently.

[2020-08-01 20:17] Ralith commented on #70
The new approach looks good to me too.

[2020-08-01 20:19] Ralith commented on #72
@jeromefroe, would you be interested in a PR to replace the use of pointers with bucket indices, and thereby remove all the boxing?

[2020-08-02 14:30] jeromefroe commented on #70
Great! I'll go ahead and close this issue then.

[2020-08-02 14:30] #70 closed

[2020-08-02 14:52] jeromefroe commented on #72
@Ralith definitely, would be more than happy to review it.

[2020-08-02 19:48] Ralith commented on #72
Hmm, bucket indexes still need to be rewritten on rehash. This would be really easy if hashbrown exposed a hook to rewrite keys on rehash, and otherwise seems infeasible.

[2020-10-29 17:53] marmeladema opened #93 "Another LRU crate"
Hello @jeromefroe and sorry to bother you!

I have been looking for an LRU cache with O(1) operations and found your crate but decided as an exercise to implement my own: https://github.com/marmeladema/clru-rs

I wonder if you could take a quick look and tell me what you think of it?

As outlined in the README, the main differences are:

* Smaller amount of unsafe code.
* API closer to the standar

[2020-11-02 14:11] jeromefroe commented on #93
Hi @marmeladema! It's no bother at all!

I just took a look at your crate, and I think it's a great approach! I'd be happy to add a comment to the README linking to it and explaining the differences between the two. The way I see it, the two crates occupy slightly different positions on the spectrum of performance and usability. `clru-rs` offers an API closer to `HashMap` and less unsafe code at t

[2020-11-02 14:16] jeromefroe commented on #32
@webmaster128 I agree that it would be extremely difficult to determine, in a general way, the cost of elements inserted into the cache and so it would be preferable to expose an API based on "points" that allows the caller to set the cost of an element explicitly. I don't think I'll have any time to implement this in the near-future though, but would be more than happy to review any pull requests

[2020-11-02 14:26] rohitjoshi commented on #32
Alternative way I am considering is to enforce dynamic cache size based on memory available from external trigger.  Eg when available memory is less than 10%, set that as a cache size and force eviction for new elements. This would be easier to achieve.

Alternative way is as elements are added, increment the total size by length of key and Val.

[2020-11-02 16:25] marmeladema commented on #93
Thank you for taking the time to look at the code! Really appreciate it!

Wow that would be super nice :+1: Maybe it's a bit too soon though, I'd like some more people to look at it / use it.

The keys are moved in a `Rc` and thus are shallow copy in the linked list. The overhead with this would be similar as if the keys were boxed once. I am not sure there is such a difference in memory usage bet

[2020-11-02 22:19] jeromefroe commented on #93
Sounds good. We can circle back whenever you feel it's ready!

That was all I could think of too. And I agree, it certainly seems like the difference would be negligible.

[2020-11-19 03:02] rohitjoshi commented on #37
How do we achieve this?

[2020-11-19 14:28] jeromefroe commented on #37
Hi @rohitjoshi! I can't think of a better way currently than to get an `iter` to iterate over all the keys. To be able to get an `iter` at a particular snapshot which would allow future operations to continue uninterrupted would be an awesome feature, but would require a significant reworking of the internals of the cache.

[2020-11-21 13:56] rohitjoshi commented on #32
Is it possible to have dynamic `cap` size which can be set by application to force eviction prior to initial capacity set.

e.g. Let's say initial capacity is 100 but. When len() is 75, I want to freeze() the additional growth but still allow inserting new elements and evicting old. Alternatively we can resize() but this would be expensive operation for latency sensitive applications.

[2020-11-23 13:53] jeromefroe commented on #32
Hi @rohitjoshi! Currently, the resize method is:

[code]

If I understand your question correctly, it sounds like you want an option to skip calling `self.map.shrink_to_fit()`? Is that accurate? If so, I think it would be straightforward to add that as an option.

[2020-11-23 18:52] rohitjoshi commented on #32
@jeromefroe that's correct. `shrink_to_fit()` will expensive operation and would lock for a longer duration in a multithreaded environment.
Idea is to make `self.map.len()` as `self.cap` so no more memory growth (assuming new key/val are same size as existing) and still allows insert with eviction of old records.

[2020-12-09 17:53] rohitjoshi opened #96 "Failed to compile with latest nightly"
[code]

 --> /Users/xxx/.cargo/registry/src/github.com-1ecc6299db9ec823/lru-0.6.1/src/lib.rs:60:58
   |
60 | #![cfg_attr(feature = "nightly", feature(negative_impls, optin_builtin_traits))]
   |                                                          ^^^^^^^^^^^^^^^^^^^^ feature has been removed
   |
   = note: renamed to `auto_traits`

error[E0658]: auto traits are experimental and possibly bugg

[2020-12-12 13:58] #96 closed

[2020-12-19 11:53] dyz1990 opened #100 "Memory leaked after call clear"
run this test
[code]
result:
[code]

[2020-12-19 19:40] jeromefroe commented on #100
Hey @dyz1990! Thanks for the issue, there is a bug in the `clear` method (and the `resize` method for that matter) that is causing the memory leak you found. #101 fixes the bug. Once CI finishes I'll merge that PR and cut a new minor release.

[2020-12-19 19:57] #100 closed

[2020-12-27 02:22] Firstyear commented on #21
@rohitjoshi You may also find this useful https://crates.io/crates/concread this has a concurrently readable / transactional cache implementation.

[2020-12-27 17:10] rohitjoshi commented on #21
@Firstyear Thanks for sharing. Earlier I saw `evmap` as well but both of these don't support LRU algorithm. In my use-case, existing keys are never updated and the read vs write ratio is 9-1 so trying to figure out an optimized lookup.  For now, I am splitting 200M LRU capacity into 2048 shards (LRU instances) to reduce the lock.

[2020-12-27 17:17] rohitjoshi commented on #32
I have worked around this by getting the current len() and resizing with that capacity which solved my problem. I am closing for now.

[2020-12-27 17:17] #32 closed

[2020-12-27 21:30] Firstyear commented on #21
@rohitjoshi If your keys are never updated, and you are mainly read to write, then you have ever more reason to look at the arcache. This design has "no" locking, allows full parallel lookups between all readers, and when you have a "cache miss" any reader can include content to the cache without blocking existing readers. For bonus, it also support SIMD for parallel key lookups via a feature + ni

[2021-01-15 03:34] wfxr opened #103 "How to access LruCache<&'a str, String> with the key of String?"
I don't known why but it looks like `get` requires the argument has the same lifetime as it's key.

[code]

How can I get the method `bar` to compile?

[2021-01-15 10:16] wfxr commented on #103
Sorry for the disturbing. Thanks @marmeladema, I got where the problem is. Just need to remove the extra `&`:
[code]

[2021-01-15 10:16] #103 closed

[2021-02-21 00:21] marmeladema commented on #93
By the way, I haven't tagged a new release yet, but `clru` does not pre-allocate unconditionally all the memory anymore.
There is still a constructor available to do so  though, for cases (like the ones I have) where it can be known in advance that the cache is going to be full.

[2021-03-05 09:53] eggyal commented on #30
I think one question for this API will be at what point an occupied entry is considered "used" and moved to the back of the queue?  I think there are broadly three options:

1. When `OccupiedEntry` is created (i.e. when `LruCache::entry(&mut self, key: K)` is called for an _extant key_);
2. When the _extant value_ is obtained from an `OccupiedEntry` (e.g. when `OccupiedEntry::get(&self)` etc are i

[2021-03-27 19:02] volfco opened #110 "Weird issue where get blocks when using an Arc<Mutex>>"
I'm using a shared LRU cache in my crate, and I ran into this weird issue. I'm not sure if I'm stupid, Rust is stupid, or there is some error with the crate.

I would expect this code to either error out, panic, or work. But it just hangs.
[code]

My guess is that `local_arc.lock().unwrap()` is returning a non mutable reference, and Rust is not seeing that it should be and freaks out. Converting t

[2021-03-29 19:01] jeromefroe commented on #110
Hi @volfco, thanks for the issue! I'm not sure either why the first example would just hang, that seems very odd! I think you're second example is the right approach to take though as I think in the first example the mutex handle that's returned by the `lock` method, and used to access the underlying cache, will go out of scope at the end of the line. In which case you won't be able to access `dat

[2021-06-16 11:06] pickfire commented on #85
version 0.6.6 and still seemed to have this issue

[2021-07-02 15:01] rohitjoshi commented on #85
@jeromefroe I have similar issue where Key is `Vec<u8>` but required to access using `&[u8]`. With the `nightly` flag, it works fine but I would like to use Rust stable release in production. This is the only functionality (to avoid memory allocation) which requires nightly feature. Any way to solve without using nightly release?

[2021-08-11 12:17] reuvenpo opened #114 "0.6.6 update breaks on linux-like systems with custom libc implementations"
This commit (https://github.com/jeromefroe/lru-rs/commit/2663a8041307f66e5b0a5979fe0d2147d5556474) included in the latest `0.6.6` release bumps the version of `hashbrown` from `0.9` to `0.11`, which bumps the version of `ahash` from `0.4` to `0.7`, which in turn adds a dependency on `libc` for `linux` targets by pulling in [`getrandom`](https://github.com/tkaitchuck/aHash/blob/master/Cargo.toml#L6

[2021-08-11 13:03] jeromefroe commented on #114
Hi @reuvenpo! Sorry for the issues with the latest update. I'd be happy to update the crate to make `getrandom` optional, but it seems like we'd need to update the `ahash` and `hashbrown` crates first. Alternatively, would it be possible to set `default-features = false` in your dependency configuration? That should disable this crate's `hashbrown` feature, which will cause the crate to use the st

[2021-08-11 14:37] #114 closed

[2021-09-15 00:36] #85 closed

[2021-10-04 21:57] pourplusquoi opened #117 "Implement Borrow<str> for KeyRef<std::string::String>?"
Use case:

[code]

The compiler complains: the trait bound `KeyRef<std::string::String>: Borrow<str>` is not satisfied.

I'm using `lru = "0.6"`

[2021-10-05 00:47] jeromefroe commented on #117
Hi @pourplusquoi! Can you try [version 0.7](https://crates.io/crates/lru/0.7.0) (I just published it)? It includes the changes in #115 that I think should address your issue.

[2021-10-05 15:26] pourplusquoi commented on #117
Hi @jeromefroe, thanks for your reply! It works on version 0.7

[2021-10-05 15:26] #117 closed

[2021-10-18 08:50] andreacastello opened #118 "RwLock read() usage"
Hello, not sure if this is an issue, or it is intended to work like this, or it's just my fault (I'm quite new to Rust), but I can't make lru work within a RwLock.

Here's a sample test I wrote:

[code]

This fails to compile with this message:

[code]

Am I missing something?
Thank you

[2021-10-18 20:42] andreacastello commented on #118
As I suspected, I was doing something wrong. No issue at all here. Sorry for the noise.

[2021-10-18 20:42] #118 closed

[2021-11-14 20:18] Acidic9 commented on #30
Would love to see this implemented!
The stdlib has a method `.entry(&key).or_insert(val)` which is extremely nice to have. Otherwise I can't think of a better way to write the following:
[code]

[2021-12-01 16:37] matklad opened #119 "Consider replacing HashMap with HashSet"
Today, the core data structure is a hash-map of LruEntries keyed by key refs

[code]

Essentially, the data strored here has this shape: `HashMap<&K, (K, V)>`. That is, it's a hash map which stores objects, where the key is the part of the object itself. THe current implementation is less efficient than it could have been, because we effectively store the `K` twice (once as a part of `(K, V)`, and

[2021-12-10 13:10] oherrala opened #120 "Use after free bug in lru crate"
I think I discovered use after free bug in lru crate. Code looked complicated for my skill level so better give you what I have before spending more time trying to understand everything. I tested this with both release 0.6.6 and git master (commit 09f68c63755b35f9cf5cb5d6765cf8dc080f9ea3, same as 0.7.0 release?).

Consider this piece of code:

[code]

This compiles fine, but when ran (in macOS) it

[2021-12-12 22:15] jeromefroe commented on #120
Thanks for the bug report @oherrala! I just made #121 to address the issue. Your suspicion is exactly correct, the example code shouldn't be allowed to compile because we can't modify the cache while we also have an iterator.

[2021-12-13 08:13] oherrala commented on #120
Thanks for quick fix @jeromefroe! I tested #121 and it indeed now gives compiler error for my test code:

[code]

I think this is worth reporting to [RustSec](https://rustsec.org/) after release.

[2021-12-18 19:03] #120 closed

[2022-01-16 02:11] Raj2032 opened #125 "Am I able to cache egui?"
Hey guys, I am thinking of forking [`egui`](https://github.com/emilk/egui) (a pure reactive immediate gui library) to implement some caching capabilities.

![image](https://user-images.githubusercontent.com/29293830/149628465-ed63188f-59db-4697-bf77-c9ccd67af376.png)

See if I move the slider, everything has to update, even the `Click each year` button (where the red arrow is pointing to) which is

[2022-04-04 10:58] koute opened #132 "Lifetime fix is missing from the changelog for 0.7.4"
The recent safety fix https://github.com/jeromefroe/lru-rs/pull/128 is missing from the changelog.

Also, since it's a safety issue I'd argue the 0.7.3 should ideally be yanked and [reported to RustSec](https://github.com/RustSec/advisory-db/blob/master/CONTRIBUTING.md).

[2022-04-04 11:52] jeromefroe commented on #132
Thank you for pointing this out! I just updated the changelog and yanked 0.7.3.

[2022-04-04 11:52] #132 closed

[2022-04-04 12:00] jeromefroe commented on #132
And reported it to RustSec [here](https://github.com/rustsec/advisory-db/pull/1219).

[2022-04-14 08:36] NicolasHanus opened #135 "Full check leak report reachable bytes"
I am running valgrind with a full leak check :

valgrind --leak-check=full --show-leak-kinds=all myExecutable

It reports reachable bytes that seem linked to the usage of LruCache:

==9046== 8 bytes in 1 blocks are still reachable in loss record 2 of 6
==9046==    at 0x483C855: malloc (vg_replace_malloc.c:380)
==9046==    by 0x19004C: once_cell::race::once_box::OnceBox<T>::get_or_init (in /mnt/c/U

[2022-04-25 20:19] gyscos commented on #30
Note that `LruCache` recently got a `get_or_insert` method; however that method always require a fully-owned key. This means that when using, for example, `String` as keys, it's not possible to only allocate when a new entry needs to be inserted.

[2022-05-17 06:43] asyncth opened #136 "Method that removes an entry corresponding to the key and returns both the key and the value"
Sort of like [HashMap::remove_entry](https://doc.rust-lang.org/std/collections/struct.HashMap.html#method.remove_entry).

[2022-05-25 02:31] #136 closed

[2022-06-05 07:32] TennyZhuang opened #140 "Failed to build with feature "nightly""
[code]

Is the feature still working? Should we remove it? I'd like to submit a PR.

[2022-06-08 02:18] #140 closed

[2022-06-08 02:19] jeromefroe commented on #140
Hi @TennyZhuang I just landed a fix on master which should resolve your issue, can you check to confirm when you get a chance?

[2022-06-12 08:35] bluescreen303 opened #142 "Allow more liberal closure for `get_or_insert`"
Currently, `get_or_insert` expects a `Fn`, but only calls it once (as expected). I have a case where if an item isn't found in the cache, it gets read from a file. Reading requires mutation (of the cursor), but **lru-rs** currently restricts closures to `Fn`, blocking functions that take a `&mut self`. Is there any reason for this? Can this be turned into `FnMut` or even `FnOnce`?

[2022-06-14 00:45] jeromefroe commented on #142
@bluescreen303 good point, `FnOnce` should be sufficient and would be the most flexible. I just opened #143 to address. If that change looks good to you, I'll land it and cut a new release.

[2022-06-14 08:37] bluescreen303 commented on #142
looks good to me. thanks!

[2022-06-14 08:37] #142 closed

[2022-07-19 09:32] poliorcetics opened #147 "Could we have a new version with the updated `hashbrown` (and maybe others) dependency ?"

[2022-07-19 11:57] jeromefroe commented on #147
Hey @poliorcetics!  Sorry for the delay here, I just published a new version, [`v0.7.8`](https://crates.io/crates/lru), with the updated version of `hashbrown`.

[2022-07-19 11:57] #147 closed

[2022-07-19 12:04] poliorcetics commented on #147
No problem, thanks a lot for the (very) quick response and the crate itself :) !

[2022-08-16 09:26] BrynCooke commented on #30
I also miss `get_or_insert_mut`. When trying to use this as a multimap I first have to do a `get_or_insert` followed by a `get_mut`, first to populate a vec for a key, and then to actually place a new item in the vec.

[2022-09-05 17:09] matklad commented on #119
Spend some time looking into this. This is harder than it seems for somewhat stupid reasons.

First thing I've run into is that I need something like `HashSet:get_mut(k: &K) -> Option<&mut K>` to fudge the pointers. Sadly, std only exposes `&` version (so that it's impossible to break hash map by modifying the value). This can be worked-around with Cell for next/prev pointers, but unfortunately we

[2022-09-06 10:59] matklad commented on #87
For the reference, at near we are using `Arc<Mutex>` as well, wrapped into this data structure:

https://github.com/near/nearcore/blob/master/utils/near-cache/src/sync.rs

[2022-10-04 14:44] dtzxporter opened #157 "Support const new"
Adding support for const new so that we can statically initialize the cache using a Mutex/Etc: Mutex::new(LruCache::new());